{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<title>{% block head_title %}{% endblock %}</title>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/user_registration_bs4.css' %}">


</head>
<body style=" background: lightblue url('https://external-preview.redd.it/ed38Y6aXySWAESp8sYUVXKcqVOqRQyUnwOaKKfpfA_w.jpg?auto=webp&s=5060d871d362ab0781b5577ad49f33a2d9d22e6d')  ; background-repeat: no-repeat;">
<!-- <body style=" background: lightblue url('https://c2.staticflickr.com/8/7358/11498334755_1985e91657_b.jpg') no-repeat fixed center;"> -->

{% include 'header.html' %}

{% block content %}{% endblock %}

{% include 'footer.html' %}


</body>
</html>
