{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}Travel Planner{% endblock %}

{% block content %}
<section>
    <!-- style="background-image: url('https://images.hdqwalls.com/wallpapers/hot-air-balloon.jpg');background-repeat: no-repeat;background-size: 100% 100%;" -->
    <div class="container" >
        <div class="row" >
            <div class="col col-12 pb-5" >
                <div class="clearfix"></div>
                <table>
                    <tr>
                        <th>
                            <h1 class=" " style="margin-top: 25rem;color: #000;background-color: transparent;width: fit-content; font-size: 60px;">Tourism recommendation</h1>
                            <p style="color: #fff;background-color: transparent;">Organize your adventure!!! So our AI algorithm knows how to adjust the best travel plan for you </p>
                        </th>
                        <hr>
                        <!-- <td>
                            <img src="" alt="" style="border-radius: 15px 50px;padding: 20px;
                            width: 550px;height: 450px;">
                        </td> -->
                    </tr>
                </table>
               


            </div>

        </div>
    </div>
</section>
{% endblock %}
